{% extends 'base.html.twig' %}

{% block title %}Edit Theloai{% endblock %}

{% block body %}
    <h1>Edit Theloai</h1>

    {{ include('theloai/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_theloai_index') }}">back to list</a>

    {{ include('theloai/_delete_form.html.twig') }}
{% endblock %}
